/* Variables  */
:root {
  --border-radius-none-default-value: 0px;
  --border-radius-2xs-default-value: 2px;
  --border-radius-xs-default-value: 4px;
  --border-radius-s-default-value: 6px;
  --border-radius-sm-default-value: 8px;
  --border-radius-ml-default-value: 12px;
  --border-radius-xl-default-value: 16px;
  --border-radius-4xl-default-value: 24px;
  --border-radius-full-default-value: 9999px;
  --max-width-0-default-value: 0px;
  --max-width-xs-default-value: 320px;
  --max-width-sm-default-value: 384px;
  --max-width-md-default-value: 448px;
  --max-width-lg-default-value: 512px;
  --max-width-xl-default-value: 576px;
  --max-width-2xl-default-value: 672px;
  --max-width-3xl-default-value: 768px;
  --max-width-4xl-default-value: 896px;
  --max-width-5xl-default-value: 1024px;
  --max-width-6xl-default-value: 1152px;
  --max-width-7xl-default-value: 1280px;
  --spacing-0-default-value: 0px;
  --spacing-1-default-value: 4px;
  --spacing-2-default-value: 8px;
  --spacing-3-default-value: 12px;
  --spacing-4-default-value: 16px;
  --spacing-5-default-value: 20px;
  --spacing-6-default-value: 24px;
  --spacing-7-default-value: 28px;
  --spacing-8-default-value: 32px;
  --spacing-9-default-value: 36px;
  --spacing-10-default-value: 40px;
  --spacing-11-default-value: 44px;
  --spacing-12-default-value: 48px;
  --spacing-14-default-value: 56px;
  --spacing-16-default-value: 64px;
  --spacing-20-default-value: 80px;
  --spacing-24-default-value: 96px;
  --spacing-28-default-value: 112px;
  --spacing-32-default-value: 128px;
  --spacing-36-default-value: 144px;
  --spacing-40-default-value: 160px;
  --spacing-44-default-value: 176px;
  --spacing-48-default-value: 192px;
  --spacing-52-default-value: 208px;
  --spacing-56-default-value: 224px;
  --spacing-60-default-value: 240px;
  --spacing-64-default-value: 256px;
  --spacing-72-default-value: 288px;
  --spacing-80-default-value: 320px;
  --spacing-96-default-value: 384px;
  --spacing-px-default-value: 1px;
  --spacing-0-5-default-value: 2px;
  --spacing-1-5-default-value: 6px;
  --spacing-2-5-default-value: 10px;
  --spacing-3-5-default-value: 14px;
  --base-palette-greyscale-950-default-value: #030712ff;
  --base-palette-greyscale-100-default-value: #f3f4f6ff;
  --base-palette-greyscale-900-default-value: #111827ff;
  --base-palette-greyscale-700-default-value: #374151ff;
  --base-palette-greyscale-600-default-value: #4b5563ff;
  --base-palette-greyscale-500-default-value: #6b7280ff;
  --base-palette-greyscale-400-default-value: #9ca3afff;
  --base-palette-greyscale-300-default-value: #d1d5dbff;
  --base-palette-greyscale-200-default-value: #e5e7ebff;
  --base-palette-brand-700-default-value: #2b51d4ff;
  --base-palette-brand-600-default-value: #3262deff;
  --base-palette-brand-500-default-value: #477feaff;
  --base-palette-brand-400-default-value: #6aa1f0ff;
  --base-palette-brand-300-default-value: #9ac2f6ff;
  --base-palette-brand-200-default-value: #c3d9faff;
  --base-palette-brand-100-default-value: #dde9fcff;
  --base-palette-success-700-default-value: #15803cff;
  --base-palette-success-600-default-value: #16a34aff;
  --base-palette-success-500-default-value: #22c55eff;
  --base-palette-success-400-default-value: #4ade81ff;
  --base-palette-success-300-default-value: #86efadff;
  --base-palette-success-200-default-value: #bbf7d1ff;
  --base-palette-success-100-default-value: #dcfce8ff;
  --base-palette-error-700-default-value: #b33322ff;
  --base-palette-error-600-default-value: #d43f2bff;
  --base-palette-error-500-default-value: #e85e4bff;
  --base-palette-error-400-default-value: #f28677ff;
  --base-palette-error-300-default-value: #f8b2a9ff;
  --base-palette-error-200-default-value: #fde6e3ff;
  --base-palette-error-100-default-value: #fde6e3ff;
  --base-palette-warning-700-default-value: #b46509ff;
  --base-palette-warning-600-default-value: #d97706ff;
  --base-palette-warning-500-default-value: #f5880bff;
  --base-palette-warning-400-default-value: #fb9724ff;
  --base-palette-warning-300-default-value: #fcab4dff;
  --base-palette-warning-200-default-value: #fdc88aff;
  --base-palette-warning-100-default-value: #fee4c7ff;
  --max-width-2xs-default-value: 256px;
  --max-width-3xs-default-value: 192px;
  --max-width-3-5xs-default-value: 156px;
  --max-width-4xs-default-value: 128px;
  --max-width-4-5xs-default-value: 112px;
  --max-width-5-5xs-default-value: 76px;
  --max-width-5xs-default-value: 96px;
  --border-radius-5xl-default-value: 28px;
  --border-radius-6xl-default-value: 32px;
  --border-radius-m-default-value: 10px;
  --border-radius-l-default-value: 14px;
  --border-radius-2xl-default-value: 18px;
  --border-radius-3xl-default-value: 20px;
  --base-palette-greyscale-800-default-value: #1f2937ff;
  --base-palette-greyscale-50-default-value: #f9fafbff;
  --base-palette-brand-800-default-value: #2840a5ff;
  --base-palette-brand-900-default-value: #253a83ff;
  --base-palette-brand-50-default-value: #f0f5feff;
  --base-palette-brand-950-default-value: #1b2550ff;
  --base-palette-error-50-default-value: #fef3f2ff;
  --base-palette-error-800-default-value: #942e20ff;
  --base-palette-error-950-default-value: #43130cff;
  --base-palette-error-900-default-value: #7b2c21ff;
  --base-palette-success-50-default-value: #f0fdf5ff;
  --base-palette-success-800-default-value: #166533ff;
  --base-palette-success-900-default-value: #14532bff;
  --base-palette-success-950-default-value: #052e14ff;
  --base-palette-warning-50-default-value: #fff6ebff;
  --base-palette-warning-800-default-value: #92550eff;
  --base-palette-warning-900-default-value: #78470fff;
  --base-palette-warning-950-default-value: #452603ff;
  --base-palette-greyscale-10-default-value: #ffffffff;
  --operating-system-default-light: #000000ff;
  --operating-system-inverted-light: #ffffffff;
}

/* Aliases  */
:root {
  --elevation-background-light: var(--base-palette-greyscale-50);
  --elevation-surface-1-light: var(--base-palette-greyscale-100);
  --elevation-outline-1-light: var(--base-palette-greyscale-200);
  --elevation-outline-2-light: var(--base-palette-greyscale-300);
  --interactive-primary-on-light: var(--base-palette-greyscale-10);
  --interactive-primary-idle-light: var(--base-palette-brand-700);
  --interactive-primary-disabled-light: var(--base-palette-brand-300);
  --interactive-secondary-on-light: var(--base-palette-greyscale-10);
  --interactive-secondary-idle-light: var(--base-palette-greyscale-900);
  --interactive-secondary-disabled-light: var(--base-palette-greyscale-400);
  --interactive-outlined-on-light: var(--base-palette-greyscale-900);
  --interactive-outlined-idle-light: var(--base-palette-greyscale-700);
  --interactive-outlined-disabled-light: var(--base-palette-greyscale-400);
  --interactive-text-disabled-light: var(--base-palette-greyscale-500);
  --text-default-primary-light: var(--base-palette-greyscale-900);
  --text-default-secondary-light: var(--base-palette-greyscale-700);
  --text-inverted-primary-light: var(--base-palette-greyscale-100);
  --text-inverted-secondary-light: var(--base-palette-greyscale-200);
  --informational-success-light: var(--base-palette-success-600);
  --informational-success-outline-light: var(--base-palette-success-400);
  --informational-error-light: var(--base-palette-error-600);
  --informational-error-outline-light: var(--base-palette-error-500);
  --informational-warning-light: var(--base-palette-warning-500);
  --informational-warning-outline-light: var(--base-palette-warning-400);
  --interactive-text-on-bg-2-light: var(--base-palette-brand-700);
  --interactive-text-on-bg-light: var(--base-palette-greyscale-800);
  --text-default-tertiary-light: var(--base-palette-greyscale-500);
  --text-inverted-tertiary-light: var(--base-palette-greyscale-300);
  --interactive-primary-pressed-light: var(--base-palette-brand-500);
  --interactive-secondary-pressed-light: var(--base-palette-greyscale-500);
  --interactive-outlined-pressed-light: var(--base-palette-brand-500);
  --interactive-text-pressed-light: var(--base-palette-brand-500);
  --interactive-outlined-on-toggled-light: var(--base-palette-greyscale-10);
  --interactive-outlined-toggled-light: var(--base-palette-greyscale-900);
  --interactive-icon-idle-light: var(--base-palette-greyscale-700);
  --interactive-icon-idle-2-light: var(--base-palette-brand-700);
  --interactive-icon-pressed-light: var(--base-palette-brand-500);
  --interactive-icon-disabled-light: var(--base-palette-greyscale-500);
  --interactive-icon-on-light: var(--base-palette-greyscale-10);
  --rounding-button-rounding-applied: var(--border-radius-s);
  --rounding-input-rounding-applied: var(--border-radius-s);
  --height-height-s-applied: var(--spacing-1-5);
  --height-height-m-applied: var(--spacing-2-5);
  --height-height-l-applied: var(--spacing-3-5);
  --height-height-xs-applied: var(--spacing-0-5);
  --rounding-focus-rounding-applied: var(--border-radius-sm);
  --interior-icon-to-label-spacing-applied: var(--spacing-1);
  --elevation-surface-2-light: var(--base-palette-greyscale-200);
  --interactive-tertiary-on-light: var(--base-palette-greyscale-600);
  --interactive-tertiary-idle-light: var(--base-palette-greyscale-200);
  --interactive-tertiary-pressed-light: var(--base-palette-greyscale-400);
  --interactive-tertiary-on-disabled-light: var(--base-palette-greyscale-400);
  --interactive-tertiary-toggled-light: var(--base-palette-greyscale-600);
  --interior-input-side-spacing-applied: var(--spacing-3-5);
  --hitbox-hitbox-xs-applied: var(--spacing-2-5);
  --hitbox-hitbox-s-applied: var(--spacing-1-5);
  --hitbox-hitbox-m-applied: var(--spacing-0-5);
  --hitbox-hitbox-l-applied: var(--spacing-0);
  --hitbox-hitbox-xxs-applied: var(--spacing-3);
  --interactive-text-on-inverted-light: var(--base-palette-greyscale-10);
  --elevation-surface-3-light: var(--base-palette-greyscale-300);
  --elevation-outline-3-light: var(--base-palette-greyscale-400);
  --spacing-list-bottom-default-value: var(--spacing-32);
}
