name: Build and Submit Production App
on:
  workflow_call:
    secrets:
      EXPO_TOKEN:
        required: true
  workflow_dispatch:

jobs:
  expo:
    name: Expo Buiild and Submit
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
          packager: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: EAS Build and Submit
        run: eas build --profile production --platform ios --non-interactive --auto-submit --no-wait

      - name: Upload source maps to Sentry
        run: |
          if [ -n "${SENTRY_AUTH_TOKEN}" ]; then
            npx sentry-expo-upload-sourcemaps dist
          else
            echo "SENTRY_AUTH_TOKEN not set. Skipping source map upload."
          fi
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
